body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #800080;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
}

#coverImg {
	width: 90%;
	height: 400px;
}

#logo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#contents {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#btnShopNow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    border: 2px #800080 solid;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 750;
    color: #800080;
    background-color: #ffffcc;
}

#btnShopNow:hover {
    font-weight: 800;
    color: #ffffcc;
    background-color: #800080;
    box-shadow: 3px 3px 6px blue, 10px 10px 20px black;
}

#btnWhatsApp:hover {
	border-radius: 0.8rem;
    box-shadow: 6px 6px 6px #63e092, 10px 10px 20px black;
}

/* ============== width media queries: 1200px, 1000px, 800px =============== */

@media(max-width: 1200px) {
    .para {
        font-size: medium;
    }
}

@media(max-width: 1000px) {
    .para {
        font-size: smaller;
    }
}

@media(max-width: 800px) {
    .para {
        font-size: small;
    }

    #logo {
        width: 200px;
        height: 200px;
    }
}
